## Data Wrangling
Data Wrangling is the process of converting data from the initial format to a format that may be better for analysis.

In [ ]:
import numpy as np
import pandas as pd

## Importing Data and reading into a Pandas DataFrame

In [ ]:
cols = ['symboling', 'normalized-loss', 'body-make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'no-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'hp', 'peak-rpm', 'city-mpg', 'highway-mpg', 'cost']
df = pd.read_csv('Car_Data_set.txt', names=cols)

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.columns

In [ ]:
df.dtypes

As we can see, several question marks appeared in the dataframe; those are missing values which may hamper our further analysis.

***Steps for working with missing data:***


Find missing data

Deal with missing data

Precise data format

Identify and handle missing values
Identify missing values
Convert "?" to NaN

In the car dataset, missing data comes with the question mark "?".

In [ ]:
df = df.replace("?", np.NaN)
df.head()

## Evaluating for Missing Data

We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:

.isnull()

.notnull()

The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [ ]:
df.isnull().any().any()

"True" stands for missing value, while "False" stands for not missing value.

## Count missing values in each column

In [ ]:
df.isnull().sum()

## Based on the summary above, each column has 205 rows of data, seven columns containing missing data:

"normalized-loss": 41 missing data

"num-of-doors": 2 missing data

"bore": 4 missing data

"stroke" : 4 missing data

"horsepower": 2 missing data

"peak-rpm": 2 missing data

"price": 4 missing data

In [ ]:
df.head(2)

## Replace by mean:

"normalized-loss": 41 missing data
    
"stroke": 4 missing data
    
"bore": 4 missing data
    
"horsepower": 2 missing data
    
"peak-rpm": 2 missing data

***Calculate the average of the column***
#converting object to float datat type

In [ ]:
norm_loss_avg = df['normalized-loss'].astype("float").mean()
print("Average normalized-loss:", norm_loss_avg)
df["normalized-loss"].replace(np.NaN, norm_loss_avg, inplace = True)
df["normalized-loss"]

Replace "NaN" by mean value in "normalized-loss" column

In [ ]:
avg_bore = df["bore"].astype("float").mean()
print("Average bore:", avg_bore)
df["bore"].replace(np.NaN, avg_bore, inplace = True)
df['bore']

In [ ]:
avg_stroke = df["stroke"].astype("float").mean(axis = 0)
print("Average stroke:", avg_stroke)
# replace NaN by mean value in "stroke" column
df["stroke"].replace(np.nan, avg_stroke, inplace = True)
df["stroke"]

In [ ]:
avg_horsepower = df['hp'].astype('float').mean(axis=0)
print("Average horsepower:", avg_horsepower)
df['hp'].replace(np.nan, avg_horsepower, inplace=True)
df['hp']

In [ ]:
avg_peakrpm= df['peak-rpm'].astype('float').mean(axis=0)
print("Average peak rpm:", avg_peakrpm)
df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)
df['peak-rpm']

In [ ]:
df.isnull().sum()

## Replace by frequency:

In [ ]:
df["num-of-doors"].value_counts()



"num-of-doors": 2 missing data, replace them with "four".
Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to occur
Drop the whole row:

In [ ]:
#replace the missing 'num-of-doors' values by the most frequent 
df["num-of-doors"].replace(np.nan, "four", inplace=True)
df.head()

Finally, let's drop all rows that do not have price data

"price": 4 missing data, simply delete the whole row

Reason: price is what we want to predict. Any data entry without price data cannot be used for prediction; therefore any row now without price data is not useful to us

In [ ]:
# simply drop whole row with NaN in "price" column
before_rows = df.shape[0]
df.dropna(subset=["cost"], axis=0, inplace=True)
after_rows = df.shape[0]
print("Number of dropped rows {}".format(before_rows - after_rows))
# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [ ]:
df.shape

The last step in data cleaning is checking and making sure that all data is in the correct format (int, float, text or other).

In Pandas, we use

.dtypes to check the data type

.astype() to change the data type

In [ ]:
df.dtypes

In [ ]:
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-loss","hp"]] = df[["normalized-loss","hp"]].astype("int")
df[["cost"]] = df[["cost"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")
df.head()

In [ ]:
df.dtypes

we finally obtain the cleaned dataset with no missing values and all data in its proper format.

## Data Standardization

We will need to apply data transformation to transform mpg into L/100km?

The formula for unit conversion is

L/100km = 235 / mpg

In [ ]:
# transform mpg to L/100km by mathematical operation (235 divided by mpg)
df["highway-mpg"] = 235/df["highway-mpg"]

# rename column name from "highway-mpg" to "highway-L/100km"
df.rename(columns = {'highway-mpg':'highway-L/100km'}, inplace=True)

# check your transformed data 
df.head()

## Data Normalization
Typical normalizations include scaling the variable so the variable average is 0, scaling the variable so the variance is 1, or scaling variable so the variable values range from 0 to 1

In [ ]:
df['length'],df['width'],df["height"]

In [ ]:
# replace (original value) by (original value)/(maximum value)
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()# replace height with normalized values
df["height"] = df["height"]/df["height"].max()
df.head()

In [ ]:
df['length'],df['width'],df["height"]

***Transforming continuous numerical variables into discrete categorical-Binning***

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.hist(df["hp"])

# set x/y labels and plot title
plt.xlabel("hp")
plt.ylabel("count")
plt.title("horsepower bins")

We would like 3 bins of equal size bandwidth so we use numpy's linspace(start_value, end_value, numbers_generated function.

Since we want to include the minimum value of horsepower we want to set start_value=min(df["horsepower"]).

Since we want to include the maximum value of horsepower we want to set end_value=max(df["horsepower"]).

Since we are building 3 bins of equal length, there should be 4 dividers, so numbers_generated=4.

In [ ]:
bins = np.linspace(min(df["hp"]), max(df["hp"]), 4)
group_names = ['Low', 'Medium', 'High']
df['horsepower-binned'] = pd.cut(df['hp'], bins, labels=group_names, include_lowest=True )
df[['hp','horsepower-binned']]

In [ ]:
df["horsepower-binned"].value_counts()

In [ ]:
%matplotlib inline 
import matplotlib.pyplot as plt
plt.bar(group_names, df["horsepower-binned"].value_counts())

# set x/y labels and plot title 
plt.xlabel('Horsepower')
plt.ylabel("Count")
plt.title("Horsepower Bins")

***Bins visualization***
Normally, a histogram is used to visualize the distribution of bins we created above.

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

a = (0, 1, 2)

# draw histogram of attribute 
plt.hist(df["hp"], bins = 3)

# set x / y labels and plot title 
plt.xlabel("horsepower")
plt.ylabel("count")
plt.title("Horsepower Bins")
plt.show()

 Machine Learning model cannot deal with strings,hence (df_heart["Heart Disease"]) categories needs to be convereted to numerical form.

In [ ]:
df["fuel-type"].value_counts()

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df["fuel-type"] = encoder.fit_transform(df["fuel-type"])
df

In [ ]:
df["fuel-type"].value_counts()

1 ----->gas
0------diesel

In [ ]:
df["num-of-doors"].value_counts()

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df["num-of-doors"] = encoder.fit_transform(df["num-of-doors"])
df

In [ ]:
df["num-of-doors"].value_counts()

0---->four doors

1---->two  doors

In [ ]:
df["aspiration"].value_counts()

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df["aspiration"] = encoder.fit_transform(df["aspiration"])
df

In [ ]:
df["aspiration"].value_counts()

0--->std

1--->turbo

In [ ]:
df["engine-location"].value_counts()

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df["engine-location"] = encoder.fit_transform(df["engine-location"])
df

In [ ]:
df["engine-location"].value_counts()

0--->front

1---->rear

In [ ]:
df.describe()

In [ ]:
# Convert to CSV file
df.to_csv('wrangled_df.csv')